<!DOCTYPE html>
<!-- <html> -->
<html>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <link rel="stylesheet" href="stylesheets/angular-material.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">


  <script src="/angular/angular.min.js"></script>

  <script src="/angular/angular-animate.min.js"></script>
  <script src="/angular/angular-route.min.js"></script>
  <script src="/angular/angular-aria.min.js"></script>

  <script src="/angular/angular-messages.min.js"></script>
  <script src="/angular/angular-material.min.js"></script>

  <script src="/javascripts/global.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script>


</script>

</head>
<body ng-app="myapp" layout="row" ng-cloak>
  <div ng-controller='myCtrl' ng-cloak class="md-padding" ng-cloak>
    <!-- <a href="/signout" class='text-center new-account' style="float: right">Sign out</a> -->
    <form action="/signout" >
        <md-button class="md-raised"  type="submit" style="float: right">Sign Out</md-button>
    </form>
    <ul>
      <li ng-repeat="task in Tasks">
        {{ task.taskName + ', ' + task.content }}
        {{task.status}}
        "creator:" + {{task.creator}}
        "assignedTo" + {{task.assignedTo}}
        "teams: " + {{task.group}}
        {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}
        "Priority:" {{task.priority}}
        "color:" {{task.color}}



        <button value="DELETE TASK {{task._id}}" ng-click="deleteTask(task._id)">DEL</button>

      </li>
    </ul>
    <div class="user">
      <form name="addTaskForm" ng-submit="addTask()">

              <md-input-container class="md-block bigInput" flex-gt-sm>
        <label>Name:</label> <input required name="taskName" type="text" ng-model="sendTask.name" />
      </md-input-container>
      <md-input-container class="md-block bigInput" flex-gt-sm>
        <label>Content:</label><input required name="taskContent"  ng-model="sendTask.content"/>


      </md-input-container>

        <md-input-container>
                <!-- <div layout="row" layout-align="space-between center"> -->
          <label>Team</label>
          <md-select ng-model="sendTask.group" multiple required>

            <md-option ng-repeat="group in groups" ng-value="group" >
              {{group}}
            </md-option>
          </md-select>

        </md-input-container>

        <md-input-container>
                <!-- <div layout="row" layout-align="space-between center"> -->
          <label>Priority</label>
          <md-select ng-model="sendTask.priority">

            <md-option ng-repeat="priority in priorities" selected="selected" required ng-value="priority" >
              {{priority}}
            </md-option>
          </md-select>

        </md-input-container>


        <md-button class="md-raised md-primary"  type="submit reset">Add</md-button>
      </form>
    </div>

    <div>
    </div>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab id="tab1" label="ALL TASKS" >
          <!-- <md-tab-label>All Tasks</md-tab-label> -->
          <md-content  class="md-padding">
            <div  layout="row"  layout-align="space-between stretch" >
              <div  flex="33" >
                <md-content  ng-repeat="task in Tasks" ng-if="  task.status == 'open' ">
                  <md-card style=" overflow-x: hidden; " md-colors="{background: task.color}" >
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-subhead" style=" float:right">{{task.priority}}</span>

                        <div class="md-headline" style="word-wrap: break-word;">{{task.taskName}}</div>
                        <span class="md-subhead"> {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}</span>


                      </md-card-title-text>

                    </md-card-title>

                    <md-card-content class="md-card-content" md-colors="{background: task.color + '-900'}">{{task.content }}</md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                      <md-button ng-click="moveTask(task._id, task.status)">In Progress</md-button>
                    </md-card-actions>
                  </md-card>

                </md-content>
              </div>


              <div   flex="33" >
                <md-content ng-repeat="task in Tasks" ng-if="  task.status == 'progress' ">
                  <md-card md-colors="{background: 'green'}" >
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{task.taskName}}</span>
                        <span class="md-subhead"> {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}</span>
                        <span class="md-subhead"> Assigned to  {{task.assignedTo}}</span>
                      </md-card-title-text>
                    </md-card-title>

                    <md-card-content class="md-card-content">{{task.content }}</md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                      <md-button ng-click="moveTask(task._id, 'backToOpen')">Open</md-button>

                      <md-button ng-click="moveTask(task._id, task.status)">Done</md-button>

                    </md-card-actions>
                  </md-card>

                </md-content>
              </div>

              <div flex="33" >

                <md-content   ng-repeat="task in Tasks" ng-if="  task.status == 'done' ">
                  <md-card md-colors="background: {{task.color}}" >
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{task.taskName}}</span>
                        <span class="md-subhead"> {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}</span>
                        <span class="md-subhead"> Was assigned to {{task.assignedTo}}</span>

                      </md-card-title-text>
                    </md-card-title>

                    <md-card-content class="md-card-content">{{task.content}}</md-card-content>

                    <md-card-actions layout="row" layout-align="end center"  >
                      <md-button ng-click="moveTask(task._id, task.status)" md-colors="{background: 'red' + '-700'}">Not Done</md-button>
                    </md-card-actions>
                  </md-card>

                </md-content>
              </div>
            </div>
          </md-content>

        </md-tab>
        <md-tab id="tab2" label="YOUR TASKS {{user.user.firstName}} {{user.user.lastName}}" >
          <md-tab-body>
            <md-content  class="md-padding">
              <div  layout="row"  layout-align="space-between stretch" >
                <div  flex="33" >
                  <md-content  ng-repeat="task in Tasks" ng-if="  task.status == 'open'">
                    <md-content ng-if="  task.assignedTo == currentUser">

                      <md-card md-theme="dark-grey" style=" overflow-x: hidden; " >
                        <md-card-title>
                          <md-card-title-text>
                            <div class="md-headline" style=" width:30%; word-wrap: break-word;">{{task.taskName}}</div>
                            <span class="md-subhead"> {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}</span>
                          </md-card-title-text>

                        </md-card-title>

                        <md-card-content class="md-card-content">{{task.content }}</md-card-content>

                        <md-card-actions layout="row" layout-align="end center">
                          <md-button ng-click="moveTask(task._id, task.status)">in Progress</md-button>
                        </md-card-actions>
                      </md-card>

                    </md-content>
                  </div>
                  <div   flex="33" >
                    <md-content ng-repeat="task in Tasks" ng-if="  task.status == 'progress' ">
                      <md-content  ng-if="  task.assignedTo == currentUser">

                        <md-card >
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">{{task.taskName}}</span>
                            </md-card-title-text>
                          </md-card-title>

                          <md-card-content class="md-card-content">{{task.content }}</md-card-content>

                          <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="moveTask(task._id, 'backToOpen')">Open</md-button>

                            <md-button ng-click="moveTask(task._id, task.status)">Done</md-button>

                          </md-card-actions>
                        </md-card>

                      </md-content>
                    </md-content>
                  </div>

                  <div flex="33" >

                    <md-content   ng-repeat="task in Tasks" ng-if="  task.status == 'done' ">
                      <md-card >
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">{{task.taskName}}</span>
                          </md-card-title-text>
                        </md-card-title>

                        <md-card-content class="md-card-content">{{task.content}}</md-card-content>

                        <md-card-actions layout="row" layout-align="end center">
                          <md-button ng-click="moveTask(task._id, task.status)">not Done</md-button>
                        </md-card-actions>
                      </md-card>

                    </md-content>
                  </div>
                </div>
              </md-content>


            </md-tab-body>
          </md-tab>
          <md-tab id="tab3">
            <md-tab-label>Your Team</md-tab-label>
            <md-tab-body>
              View for Item #3 <br/>
              data.selectedIndex = 2;
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
      <!-- <div  layout="row"  layout-align="space-between stretch" >

      <div  flex="33" >
      <md-content  ng-repeat="task in Tasks" ng-if="  task.status == 'open' ">
      <md-card md-theme="dark-grey">
      <md-card-title>
      <md-card-title-text>
      <span class="md-headline">{{task.taskName}}</span>
      <span class="md-subhead"> {{task.date| date:'EEE-MM-yyyy HH:mm:ss'}}</span>
    </md-card-title-text>

  </md-card-title>

  <md-card-content>{{task.content }}</md-card-content>

  <md-card-actions layout="row" layout-align="end center">
  <md-button ng-click="moveTask(task._id, task.status)">in Progress</md-button>
</md-card-actions>
</md-card>

</md-content>
</div>
<div   flex="33" >
<md-content ng-repeat="task in Tasks" ng-if="  task.status == 'progress' ">
<md-card >
<md-card-title>
<md-card-title-text>
<span class="md-headline">{{task.taskName}}</span>
</md-card-title-text>
</md-card-title>

<md-card-content>{{task.content }}</md-card-content>

<md-card-actions layout="row" layout-align="end center">
<md-button ng-click="moveTask(task._id, task.status)">Done</md-button>
</md-card-actions>
</md-card>

</md-content>
</div>

<div flex="33" >

<md-content   ng-repeat="task in Tasks" ng-if="  task.status == 'done' ">
<md-card >
<md-card-title>
<md-card-title-text>
<span class="md-headline">{{task.taskName}}</span>
</md-card-title-text>
</md-card-title>

<md-card-content>{{task.content}}</md-card-content>

<md-card-actions layout="row" layout-align="end center">
<md-button ng-click="moveTask(task._id, task.status)">not Done</md-button>
</md-card-actions>
</md-card>

</md-content> -->








</div>



</body>
</html>
